   <div id="barTender_wrapper" ><!-- ng-controller = "barTendController" -->
    	<section id="barTender_section">
        	<header id="barTender_header">
            	<h1><u>Bar Stock</u></h1>
            </header>
      <!-- Bar Stock data display -->      
           
           <div class = "container">
                <div class = "row" style = "border: 1px solid ">
                    <div class = "col-md-4" ng-repeat ="item in items">
                         <div class = "col-md-6"><strong>{{item.name}}</strong></div>
                         <div class = "col-md-6 text-right">{{item.qty | number:0}} {{item.measure}}</div>
                         <hr/>                     
                    </div>
                </div>
           </div>
                       
        <!--End of bar stock data display  -->   
            
            <div id="barTender_content">
            	<h1>Orders</h1>
                <div id="barTender_content_container">
                	<div class="barTender_container_box">
                    	<div class="barTender_container_box_header">
                        	<h3>Bloody Mary</h3>
                        </div>
                        <div class="ingr barTender_container_box_content">
                        	<ul>
                            	<li class="contains0">2oz</li>
                                <li class="vodka">vodka</li>
                            </ul>
                            <ul>
                            	<li class="contains1">4oz</li>
                                <li class="Bloody_Mary_Mix">Bloody Mary Mix</li>
                            </ul>
                            <ul>
                            	<li class="contains2">1</li>
                                <li class="Celery_Stalk">Celery Stalk</li>
                            </ul>
                        </div>
                        <div class="barTender_container_box_icons">
                        	<div><img class="plus" src="images/plus.png" ng-click = "bloodyMaryPlus()"></div><!-- ng-click = "bloodyMerrycount = bloodyMerrycount + 1; bloodyMaryPlus(bloodyMerrycount)" ng-init="bloodyMerycount=0"  ng-model="bloodyMerycount" -->
                        	<div><input class="input" type="text" value="{{bmpcount}}"></div>
                            <div><img class="minus" src="images/minus.png" ng-click = "bloodyMaryMinus()"></div><!-- ng-click = "bloodyMerycount = bloodyMerycount - 1 ;bloodyMaryMinus(bloodyMerycount)"  ng-model = "bloodyMerycount" -->
                        </div>
                    </div>
                    <div class="barTender_container_box">
                    	<div class="barTender_container_box_header">
                        	<h3>Martini</h3>
                        </div>
                        <div class="ingr barTender_container_box_content">
                        	<ul>
                            	<li class="contains0">2oz</li>
                                <li class="Gin">Gin</li>
                            </ul>
                            <ul>
                            	<li class="contains1">1oz</li>
                                <li class="Dry_Vermouth">Dry Vermouth</li>
                            </ul>
                            <ul>
                            	<li class="contains2">1</li>
                                <li class="Olive">Olive</li>
                            </ul>
                        </div>
                        <div class="barTender_container_box_icons">
                        	<div><img class="plus" src="images/plus.png" ng-click = "martiniPlus()"></div><!-- ng-click = "martinicount=martinicount + 1; martiniPlus(martinicount)" ng-init="martinicount=0"  ng-model="martinicount" -->
                        	<div><input class="input" type="text" value="{{martcount}}"></div>
                            <div><img class="minus" src="images/minus.png" ng-click = "martiniMinus()"></div><!--  ng-click = "martinicount=martinicount - 1; martiniMinus(martinicount)" ng-model="martinicount" -->
                        </div>
                    </div>
                    <div class="barTender_container_box">
                    	<div class="barTender_container_box_header">
                        	<h3>Margarita</h3>
                        </div>
                        <div class="ingr barTender_container_box_content">
                        	<ul>
                            	<li class="contains0">2oz</li>
                                <li class="Tequila">Tequila</li>
                            </ul>
                            <ul>
                            	<li class="contains1">1oz</li>
                                <li class="Orange_Juice">Orange Juice</li>
                            </ul>
                            <ul>
                            	<li class="contains2">1oz</li>
                                <li class="Agave_Nectar">Agave Nectar</li>
                            </ul>
                            <ul>
                            	<li class="contains3">1</li>
                                <li class="lime">Lime</li>
                            </ul>
                        </div>
                        <div class="barTender_container_box_icons">
                        	<div><img class="plus" src="images/plus.png"  ng-click = "margaritaPlus()"></div><!-- ng-click = "margaritacount=margaritacount + 1; margaritaPlus(margaritacount)" ng-init="margaritacount=0"  ng-model="margaritacount" -->
                        	<div><input class="input" type="text" value="{{margcount}}"></div>
                            <div><img class="minus" src="images/minus.png"  ng-click = "margaritaMinus()"></div><!--  ng-click = "margaritacount=margaritacount - 1; margaritaMinus(margaritacount)" ng-model="margaritacount" -->
                        </div>
                    </div>
                    <div class="barTender_container_box">
                    	<div class="barTender_container_box_header">
                        	<h3>Srewdriver</h3>
                        </div>
                        <div class="ingr barTender_container_box_content">
                        	<ul>
                            	<li class="contains0">2oz</li>
                                <li class="vodka">vodka</li>
                            </ul>
                            <ul>
                            	<li class="contains1">4oz</li>
                                <li class="Orange_Juice">Orange Juice</li>
                            </ul>
                        </div>
                        <div class="barTender_container_box_icons">
                        	<div><img class="plus" src="images/plus.png"  ng-click = "srewdriverPlus()"></div><!--   ng-click = "srewdrivercount=srewdrivercount + 1; srewdriverPlus(srewdrivercount)" ng-init="srewdrivercount=0"  ng-model="srewdrivercount" -->
                        	<div><input class="input" type="text" value="{{srewcount}}"></div>
                            <div><img class="minus" src="images/minus.png" ng-click = "srewdriverMinus()"></div><!--  ng-click = "srewdrivercount=srewdrivercount - 1; srewdriverMinus(srewdrivercount)" ng-model="srewdrivercount" -->
                        </div>
                    </div>
                    <div class="barTender_container_box">
                    	<div class="barTender_container_box_header">
                        	<h3>Manhattan</h3>
                        </div>
                        <div class="ingr barTender_container_box_content">
                        	<ul>
                            	<li class="contains0">2oz</li>
                                <li class="Whisky">Whisky</li>
                            </ul>
                            <ul>
                            	<li class="contains1">1oz</li>
                                <li class="Sweet">Sweet Varmouth</li>
                            </ul>
                            <ul>
                            	<li class="contains2">1</li>
                                <li class="cherry">Cherry</li>
                            </ul>
                        </div>
                        <div class="barTender_container_box_icons">
                        	<div><img class="plus" src="images/plus.png"  ng-click = "manhattanPlus()"></div><!--   ng-click = "manhattancount=manhattancount + 1; manhattanPlus(manhattancount)" ng-init="manhattancount=0"  ng-model="manhattancount" -->
                        	<div><input class="input" type="text" value="{{manhcount}}"></div>
                            <div><img class="minus" src="images/minus.png" ng-click = "manhattanMinus()"></div><!-- ng-click = "manhattancount=manhattancount - 1; manhattanMinus(manhattancount)" ng-model="manhattancount" -->
                        </div>
                    </div>
                </div>
            </div>
            
            <footer id="barTender_footer">
            	
                	<a ui-sref = "barTenderResult({bmpCount:bmpcount,martCount:martcount,margCount:margcount,srewCount:srewcount,manhCount:manhcount})"><button class="barTender_footer_button" ng-click = "placeOrder()">Place Older</button></a>
                
            </footer>
        </section>
    </div>